*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(../imagen/imagen.jpg)
}
#titulo {
    font-size: 40px;
    font-family: fantasy;
    padding-left: 450px;
 }
 #titulo_add {
    font-size: 40px;
    font-family: fantasy;
    padding-left: 570px;
 } 
 #titulo_edit {
    font-size: 50px;
    font-family: fantasy;
    padding-left: 500px;
 }
 #boton1{     
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;    
    display: block;
    margin: 0 auto;
 }
 #boton2{
    width: 200px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    
 }
  #boton3{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
   
  }
   #boton4{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
 }
 #boton5{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
 }
 #boton6{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background: #003333;
    color: #ffffff;
    font-size: 15px;
 }

 table{
	background-color: transparent;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}
#nuevo{
    width: 330px;
    background: #006666;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    padding: 5px 5px 20px 5px;
    border-top: 30px solid #006666 ;
    border-right: 1px solid #006666;
    border-left: 30px solid #006666;
    border-radius: 10px;    
}
#entrada{
    width: 300px;
    height: 45px;
    border-radius: 6px;
    font-family: verdana;
    font-weight: 900;
}
#subadd1{
    font-size: 25px;
    font-family: fantasy;   
}
#subadd2{
    font-size: 25px;
    font-family: fantasy;   
}
#subadd3{
    font-size: 25px;
    font-family: fantasy;   
}
